<nav id="sidebar" class="sidebar collapse">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="calendar.html">Simple Calendar Plugin (Unreal Engine)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cat.html">Purrspective (Coming Soon)</a>
            </li>
        </ul>

</nav>